<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <span><img src="/logo.PNG" alt="logo" width="80rem" class="m-1">EcoTrade</span>
    <p>La communauté  éco-responsable <br> qui t'accepte avec tes qualités et tes défauts.</p>
</nav>